<a href=""></a><ol class="list-group list-group-numbered col-6 mx-auto border border-0">
    {{#each this}}
  <li class="list-group-item bg-info d-flex justify-content-between my-2 align-items-start border border-2 border-dark">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><u>Title:</u> {{title}}</div>
      <strong>Content: </strong>{{content}} <br>
      <strong>Comment Count: </strong>{{comment_count}}
    </div>

    <span class="badge bg-secondary rounded-pill">{{format_date createdAt}}</span>
    <a href="/home/post/{{id}}"><span class="badge bg-secondary mx-2 rounded-pill">View Post</span></a>
    
  </li>
  {{/each}}
</ol>